* {
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
}

/* nav style */

span img {
    width: 150px;
    height: 100px;
}

header {
    background-color: #ced4da;
}

#nav {
    margin-left: 50px;
}

#nav ul {
    list-style: none;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#nav li {
    float: right;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 35px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

#nav a {
    color: rgb(0, 0, 0);
}

#nav>ul :hover {
    color: rgb(126, 124, 124);
}

/* main page photo and header styiling */

.section-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 700px;
    background: url(../images/main-page-photo.jpg) no-repeat center center;
    background-size: cover;
}

.section-one h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: #fff;

}

/* section two  */

#times {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: #ced4da;
}

#times h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 40px 40px;
    color: #fff;
    margin: auto;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    width: 20%;
    height: 300px;
    float: left;
    /* padding: 30px 0 0 10px; */
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* foter style */

footer {
    background-color: #ced4da;
    padding: 25px;
}

.footer-header {
    text-align: center;
    padding-bottom: 25px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
    margin: 1%;
    padding: 2%;
    font-size: 30px;
}

.social-links a {
    color: black;
}

.info-table {
    display: inline;
}

/* gallery */


#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
}

#photos {
    margin-top: 20px;
}

#photos img {
    width: 100%;
    margin: 0.5px;
    transition: 0.3s ease-in-out;
}

#photos img:hover {
    width: 101%;
}

/* product page */

.container {
    display: flex;
    justify-content: space-evenly;
    font-family: roboto, sans-serif;
    margin-top: 30px;
}

.container h1 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.container p {
    padding: 0;
    font-size: 12px;
}

.container img {
    width: 350px;
    height: 400px;
    border-radius: 10px;
    margin: 5px;
}

.container div {
    padding-bottom: 50px;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}


.container a:hover {
    background-color: #526f94;
}

.container a {
    color: #fff;
    padding: 0.5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    font-size: 12px;
    cursor: pointer;
}

/* form style on contact us page */

.contact-header {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.contact-form {
    margin-top: 50px;
    margin-bottom: 100px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 1.2rem;
}

input[type="submit"] {
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #0077b6;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #023e8a;
}

/* media quiries */

/* for screen 1200px and below */

@media screen and (max-width: 1200px) {
    #nav {
        background-color: #ced4da;
        clear: both;
    }

    #nav a {
        font-size: 20px;
    }

    /* index page header and img  */

    .section-one {
        display: block;
    }

    .section-one img {
        margin: auto;
        padding-top: 20px;
    }

    .section-one h1 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    /* product page */

    .container {
        display: flex;
        justify-content: space-evenly;
        font-family: roboto, sans-serif;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .container h1 {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .container p {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .container img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        margin: 5px;
        transition: 0.3s ease-in-out;
    }

    .container div {
        padding-bottom: 10px;
        margin-top: 5px;
    }

    .container button {
        padding: 0.5rem;
        margin-top: 1rem;
        border: none;
        border-radius: 5px;
        background-color: #000000;
        color: #fff;
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
    }

    .container button:hover {
        background-color: #526f94;
    }

    .container a {
        color: #fff;
    }

    /* gallery page  */

    .gallery-header h1 {
        text-align: center;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        font-family: "Roboto", sans-serif;
        font-size: 25px;
    }

    #photos {
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 2px;
        width: 95%;
        margin: 0 auto;
    }

    /* contact us page */
    .contact-form {
        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 25px;
        margin-top: 30px;
    }

    /* footer style */

    footer h2 {
        font-size: large;
    }

    footer a {
        font-size: large;
    }
}

/* media screen for less then 768 px */

@media screen and (max-width: 768px) {
    /* Nav bar style */

    #nav li {
        background-color: #ced4da;
        display: flex;
        float: right;
        margin: 5px;
    }

    #nav a {
        font-size: 12px;
    }

    span img {
        width: 75px;
        height: 40px;
        margin-right: 10px;
    }

    .sale-page {
        text-align: center;
    }

    .container {
        display: block;
        align-items: center;
        font-family: roboto, sans-serif;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .container h1 {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .container p {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .container img {
        width: 300px;
        height: 350px;
        border-radius: 10px;
        margin: 5px;
    }

    .container div {
        padding-bottom: 10px;
        margin-top: 5px;
    }

    .container button {
        padding: 0.5rem;
        margin-top: 1rem;
        border: none;
        border-radius: 5px;
        background-color: #000000;
        color: #fff;
        font-size: 10px;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
    }

    .container button:hover {
        background-color: #526f94;
    }

    .container a {
        color: #fff;
    }

    #times>div {
        width: 100%;
        clear: both;
        height: 200px;
        padding: 0;
    }

    hr {
        display: none;
    }

    /* gallery page */



    #photos {
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap: 1px;
        width: 95%;
        margin: 0 auto;
    }



    /* contact us page */

    .contact-form {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 25px;
        margin-top: 20px;
    }

    /* footer style */

    footer {
        clear: both;
    }

    footer h2 {
        font-size: small;
    }

    footer a {
        font-size: small;
    }
}